body {
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

button {

}

a {

}

#ctnChat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin: 20px;
    min-width: 500px;
}

#ctnMessages {
    min-width: 500px;
    min-height: 500px;
    background-color: #ccc;
}

#ctnSendMessage {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

#txtMessage {
    width: 80%;
}

#audioPlayer {
    
}